@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.wallet-adapter-button-trigger {
    background: rgb(100, 26, 230) !important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}


@keyframes borderGlow {
    0% {
      border-color: rgba(238, 255, 0, 0.349); /* Couleur initiale */
      box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    }
    50% {
      border-color: rgba(255, 255, 0, 0.603); /* Couleur forte à la moitié */
      box-shadow: 0 0 20px rgba(255, 255, 0, 1);
    }
    100% {
      border-color: rgb(255, 255, 0); /* Reviens à l'initial */
      box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    }
  }
  
  /* Applique l'animation à l'élément */
  .animate-borderGlow {
    animation: borderGlow 1s infinite; /* 2s pour l'animation et répétition infinie */
  }