@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.wallet-adapter-button-trigger {
    background: rgb(100, 26, 230) !important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}


@keyframes borderGlow {
    0% {
      border-color: rgba(238, 255, 0, 0.349); /* Couleur initiale */
      box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    }
    50% {
      border-color: rgba(255, 255, 0, 0.603); /* Couleur forte à la moitié */
      box-shadow: 0 0 20px rgba(255, 255, 0, 1);
    }
    100% {
      border-color: rgb(255, 255, 0); /* Reviens à l'initial */
      box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    }
  }
  
  /* Applique l'animation à l'élément */
  .animate-borderGlow {
    animation: borderGlow 1s infinite; /* 2s pour l'animation et répétition infinie */
  }

  .title {
    font-size: 2.5rem;
    font-family: "Lobster", cursive;
  }
  
  .wrapper {
    animation: scroll 10s linear infinite;
    background: url("https://w0.peakpx.com/wallpaper/343/89/HD-wallpaper-sky-black-stars-night-star-space-edge-super-dark-universe-thumbnail.jpg"),
      #111111;
    color: #eee;
    height: 54vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  @keyframes scroll {
    100% {
      background-position: 0px -400%;
    }
  }
  
  /* Fallback if the operatring system prefers reduced motion*/
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 10s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }
  .ball {
    font-size: 1.5em;
    color: red;
    position: absolute;
  }
  
  .ballMove0, .ballMove1, .ballMove2, .ballMove3, .ballMove4, .ballMove5 {
    animation: fall 0.5s linear;
  }
  
  @keyframes fall {
    from {
      transform: translateY(-25px);
    }
    to {
      transform: translateY(0);
    }
  }

